<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.name%> | CloudConnect
    </title>
    <link rel="shorcut icon" type="image/x-icon" href="../images/fevion.png">
    <script src="https://kit.fontawesome.com/22406f9d4d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/user.css"> 
</head>
<body>
    <div class="header-for-user-profile">
        <a id="Web-logo" href="users/home">
            <i class="fad fa-moon-cloud fa-4x" id="cloud-connect-logo" aria-hidden="true"></i>
            <p id="cloud-connect-name">Cloud Connect.</p>
        </a>
        <p>
            <a href="users/home">
                CloudConnect
            </a>
        </p>
        <div>
            <a href="/users/sign-out" >
                <button class="sign-out-button">
                    <i class="fas fa-sign-out"></i> &nbsp; Sign-Out 
                </button>
            </a>
            <a href="/users/home-page" >
                <button class="goto-home-button">
                    <i class="fas fa-home"></i>&nbsp; Home 
                </button>
            </a>
        </div>
    </div>

    <div class="profile-constainer">
        <div class="profile-photo">
            <img src="/images/shivKesh.jpeg" height="100%" width="100%">
        </div> 
    
        <div class="personal-info-container">
            <p class="user-name">
                <i class="fas fa-user-alt"></i>&nbsp; <%= user.name%>
            </p>
            <p class="user-email">
                <i class="fas fa-envelope"></i>&emsp; <%= user.email%> 
            </p>

            <div class="about-yourself-container">
                Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown 
                printer took a galley of type and scrambled it to make a 
                type specimen book. It has survived not only five centuries, 
                but also the leap into electronic typesetting, remaining 
                essentially unchanged. It was popularised in the 1960s with 
                the release of Letraset sheets containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus 
                PageMaker including versions of Lorem Ipsum.
            </div>

            <button type="button" class="create-post-button">
                <i class="fas fa-sort-down fa-2x" style="position: relative; top: -5px;"></i>&nbsp; Create Post
            </button>
            <button type="button" class="add-about-yourself">
                <i class="fas fa-edit " style="position: relative;"></i>&nbsp; Bio
    
            </button>
        </div>
    </div>

    <form class="create-post-form" method="POST" action="/posts/create-post">
        <label for="title">Give Title of Post <i class="fas fa-level-down"></i></label>
        <br>
        <input required id="title" name="title" placeholder="Add Title" maxlength="40">
        <br><br>
        <label for="postDescription">Describe Post <i class="fas fa-level-down"></i></label>
        <br>
        <textarea required id="postDescription" name="postDescription" placeholder="Describe post."></textarea>
        <br><br>
        <button type="submit" class="create-post-button remove-pos">
            <i class="fas fa-plus " ></i>&nbsp; Create Post
        </button>
    </form>
    
    <form class="add-about-yourself-form">
        <label for="title">Tell others about yourself <i class="fas fa-level-down"></i></label>
        <br>
        <textarea maxlength="2000" name="aboutUser"></textarea>

        <button type="submit" class="add-about-yourself remove-pos">
            <i class="fas fa-edit " style="position: relative;"></i>&nbsp; Save
            
        </button>
    </form>
    <div class="users-post-heading">
        <%= user.name%>'s Posts..
    </div>
        <%- include("postP") -%>
    <script type="text/javascript" src="/js/userJS.js"></script>
       
</body>
</html>